@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Kawit';
	src: url('/fonts/KawitFree-ExtItalic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: 'Outfit', sans-serif;
}
