---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Kali Kantina | Lumpia Orders">
	<section
		class="flex h-screen w-full flex-col items-center justify-center bg-emerald-950 text-white"
	>
		<span class="font-display text-6xl italic lg:mx-0">Our Lumpia</span>
		<p class="text-center text-2xl lg:text-start lg:text-2xl">
			A recipe passed down through generations, our lumpia is a Filipino
			classic. Ground pork, carrots, and onions are seasoned and rolled into a
			thin wrapper, then fried until golden brown. Served with a sweet and sour
			dipping sauce.
		</p>
	</section>
	<section class="flex flex-col bg-zinc-950 p-4 text-amber-50">
		<h2
			class="mx-auto p-8 py-16 font-display text-8xl italic lg:p-4 lg:text-6xl"
		>
			Order
		</h2>
		<form
			method="POST"
			class="flex flex-col border border-zinc-800 p-4 text-2xl"
		>
			<div class="mb-4 flex justify-between">
				<label class="w-1/4 overflow-hidden text-ellipsis p-2" for="name">
					<span class="overflow-hidden text-ellipsis whitespace-nowrap"
						>Your Name</span
					>
				</label>
				<input
					class="w-3/4 p-2"
					type="text"
					name="name"
					id="name"
					placeholder="Name"
				/>
			</div>
			<div class="mb-4 flex justify-between">
				<label class="w-1/4 overflow-hidden text-ellipsis p-2" for="email">
					<span class="overflow-hidden text-ellipsis whitespace-nowrap"
						>Email</span
					>
				</label>
				<input
					class="w-3/4 p-2"
					type="email"
					name="email"
					placeholder="Email"
				/>
			</div>

			<button
				class="mx-auto w-full bg-emerald-900 px-10 pb-7 pt-6 text-xl text-white transition hover:bg-emerald-800 active:bg-emerald-950 lg:mx-0 lg:w-auto lg:px-6 lg:pb-4 lg:pt-3"
				type="button">Send</button
			>
		</form>
	</section>
</MainLayout>
