---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Kali Kantina | Menu">
	<section
		class="flex h-screen w-full items-center justify-center bg-emerald-950"
	>
	</section>
</MainLayout>
