---
import MainLayout from '../layouts/MainLayout.astro';
import {
	contentfulClient,
	type MenuItem,
	type EntryImage,
} from '../lib/contentful';
import { Image } from 'astro:assets';

const menuItemEntries = await contentfulClient.getEntries<MenuItem>({
	content_type: 'menuItem',
});

const menuItems = menuItemEntries.items.map((entry) => {
	const { name, description } = entry.fields;
	return { name, description, image: entry.fields.image as EntryImage };
});
---

<MainLayout title="Kali Kantina | Menu">
	<section
		class="flex h-screen w-full items-center justify-center bg-emerald-950"
	>
		<span class="font-display text-8xl italic text-white lg:mx-0">Our Menu</span
		>
	</section>
	<section class="flex flex-col bg-zinc-950 pb-4 text-amber-50">
		<h2
			class="mx-auto p-8 py-16 text-center font-display text-8xl italic lg:p-4 lg:text-6xl"
		>
			Currently Serving
		</h2>
		<div class="flex flex-col items-center lg:gap-4 lg:px-4">
			{
				menuItems?.map((item, i) => (
					<article
						class={`mb-4 flex flex-1 flex-col border-zinc-800 bg-zinc-950 p-4 lg:mb-0 lg:w-2/3 lg:flex-row lg:border ${
							i === 0 ? 'border-y' : 'border-b'
						}`}
					>
						<div class="flex flex-1 flex-col justify-center p-8 py-16 lg:p-4">
							<h3 class="mb-4 text-6xl capitalize lg:text-4xl">{item.name}</h3>
							<p class="w-full text-4xl lg:text-2xl">{item.description}</p>
						</div>
						{item.image && (
							<Image
								class="h-[32rem] w-full object-cover lg:w-1/2"
								width={item.image.fields.file.details.image.width / 5}
								height={item.image.fields.file.details.image.height / 5}
								src={item.image.fields.file.url}
								alt={`Image of ${item.name}`}
							/>
						)}
					</article>
				))
			}
		</div>
	</section>
</MainLayout>
